
/******************************/
/* BASIC SETUP */
/******************************/

/*reusable color: 

#63d488
#049fbb - dark blue

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #6F6E6E;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}


.row {
    width: 1140px;
    margin: 0 auto;
}


section {
padding: 0px 0px 80px 0px;
}


nav {
   background: #333;
}



header {
    background: #fff;
    height: 100vh; 
    background-size: cover; 
    background-position: center; 

}


.header-line {
  width: 100%;
  background-color: #63d488;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
}



@keyframes namePopUp {
    
/* From */
    0% {
        opacity: 0;
        transform: translateX(100px);
    }


/* To */
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}


.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0px solid black;
    color: #454545;

}

.hero-text-name {
  font-family: 'Raleway', sans-serif;
  animation-name: namePopUp;
  animation-duration: 2s;

}

.hero-text-name a:hover {
  color: #5B4E4E;
}


.hero-text-name a {
  color: #454545;
  text-decoration: none;
}



.hero-text-love {
  color: #E31B6D;
}

.h1-top {
  font-size: 250%;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;

}


.h1-bottom {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 170%;
    margin-top: 10px;
    font-family: 'Raleway', sans-serif;
    color: #454545;

}

.h1-bottom::after {
    content: " ";
    display: block;
    height: 1px;
    width: 690px;
    background-color: #63d488;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}


.btn {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;
    letter-spacing: .5px;
    border-radius: 5px;
}

.btn:link,
.btn:visited {
    background: #049fbb;
    font-weight: 350;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(4,159,187,.7);
    padding: 10px 20px;
    font-weight: 600;
    margin-top: 10px;
    font-size: 90%;
    opacity: 0.8;
}

.btn:hover,
.btn:active {
    border-color: #06cc47;
    background-color: #06cc47;
    color: #fff;
    transition: 0.5s;
}


/* arrow on the button */

.fa-arrow-right {
  transition: .3s;
  padding-left: 15px;
}


.btn:hover .fa-arrow-right {
  transition: .3s;
  transform: translateX(10px) translateY(-5px) rotate(90deg);
}


/* NAVIGATION */


.myImage {
    float: left;
    margin: 10px 10px 10px 0;
    width: 75px;
    height: 75px;  
    border-radius: 50%;
}


.logo-text {
  display: inline-block;
  margin-top: 24px;
  margin-left: 10px;
  font-size: 100%;
}

.logo-text a {
  transition: color 0.2s;
  text-decoration: none;
  color: #6F6E6E;
}

.logo-text a:hover {
  color: #D44638;
}


.logo-text-2 {
  display: inline-block;
  margin-top: 5px;
  margin-left: 10px;
  font-size: 70%;
  color: #A4A4A4;
}

.logo-text-2 a {
  transition: color 0.2s;
  text-decoration: none;
  color: #A4A4A4;
}


.logo-text-2 a:hover {
  color: #6cc644;
}

.main-nav {
    border: 0px solid black;
    float: right;
    margin-top: 47px;
    font-size: 95%;
    text-transform: uppercase;
}

.main-nav li {
    list-style: none;
    display: inline-block;
    margin-right: 40px;
    font-size: 100%;
}


.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #6F6E6E;
    border-bottom: 2px solid transparent;
    padding-bottom: 10px;
}

.main-nav li a:hover,
.main-nav li a:active {
    color: #63d488;
    transition: 0.3s;
}


/* ABOUT ME SECTION*/


.about {
  background: #F4F4F4;
}

h2 {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 30px;

}


h2::after {
    content: " ";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #049fbb;
    margin: 0 auto; 
    margin-top: 30px;
}


.fa-laptop-code,
.fa-brain,
.fa-users,
.fa-balance-scale {
  color: #049fbb;
  font-size: 450%;
  text-align: center;
  margin-bottom: 13px;
}


h3 {
  margin-top: 7px;
  margin-bottom: 13px;
  color: #504F4F;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 100%;
}


.box {
  text-align: center;
}

.box p {
    font-size: 85%;
    line-height: 145%;
    color: #868686;
}



/* PROJECTS SECTION */


.proj-desc p {
  font-family: 'Raleway', sans-serif;
  font-size: 160%;
  text-align: center;
  margin-bottom: 50px;
  color: #454545;
}

.projects-showcase {
  width: 70%;
  height: auto;
}


.projectContainer {
  width: 100%;
}

.projectContainer li {
  display: block;
}

.projectBox {
  transition: .5s ease;
  box-shadow: -15px -15px 20px #ccc;
  width: 100%;
  margin: 0;
  overflow: hidden;
}


.projectBox:hover {
  transition: .5s ease;
  box-shadow: none;
}

.projectBox img {
  width: 100%;
  opacity: 0.85;
  height: auto;
  transition: .5s;
}

.projectBox img:hover {
  opacity: 1;
}



.btnOption li {
  display: inline-block;
  font-size: 80%;
  background: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  margin-right: 5px;
  opacity: 0;
}

.projectBox:hover .btnOption li {
  opacity: 1;
  transition: .5s;
}



.btnOption li a:link,
.btnOption li a:visited {
  text-decoration: none;
  color: #049fbb;
}

.btnOption li a:hover,
.btnOption li a:active {
  text-decoration: none;
  color: #fff;
}

.btnOption li:hover {
  background: #049fbb;
}

.btnOption li:hover a {
  color: #fff;
}



.buttonPageCode {
  position: relative;
}


.fa-desktop {
  padding-right: 10px;
}

.fa-code {
  padding-right: 10px;
}

.pageCode {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.projectContainer li {
  margin-bottom: 30px;
}



/* SKILLS SECTION */


.skills {
  background: #F4F4F4;
}

.skills-set {
  border: 0px solid black;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.skills-set li {
  border: 0px solid black;
  display: inline-block;
  padding: 8px;
  font-size: 330%;
}



.fa-html5 {
  color: #e34f26;
}

.fa-css3-alt {
  color: #4285F4;
}

.fa-js {
  color: #f7df1e;
}

.fa-database {
  color: #00758f;
}

.fa-github {
  color: #CA5D1F;
}

.fa-sass {
  color: #E715E5;
}

.fa-bootstrap {
  color: #f783ac;
}


.fa-html5,
.fa-css3-alt,
.fa-js,
.fa-database,
.fa-github,
.fa-sass,
.fa-bootstrap {
  margin-right: 120px;
  width: 0;
  transition: .5s ease;
  opacity: .7;
}


.fa-html5:hover,
.fa-css3-alt:hover,
.fa-js:hover,
.fa-database:hover,
.fa-github:hover,
.fa-sass:hover,
.fa-bootstrap:hover
 {
  box-shadow: 10px -10px 10px #ccc;
  transition: .5s ease;
  transform: scale(1.5);
  opacity: 1
}



/* FOOTER SECTION */

footer {
  padding: 30px;
  background: #333;
}


.social-icons {
  margin: 0 auto;
  border: 0px solid white;
  text-align: center;
}


.social-icons li {
  list-style-type: none;
  display: inline-block;
  padding: 7px;
}



.fa-linkedin,
.fa-github-square,
.fa-envelope {
  color: #6B6767;
  font-size: 180%;
  transition: 0.2s;
}


.fa-linkedin:hover {
  color: #0077b5;
}


.fa-github-square:hover {
  color: #CA5D1F;
}

.fa-envelope:hover {
  color: #D33829;
}
 

.copyright p {
  text-align: center;
  margin-top: 10px;
  font-size: 80%;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;

}

.footer-year {
  color: #E31B6D;
}




/* SCROLL TO TOP */

#goTopBtn {
   display: none; 
   position: fixed; 
   bottom: 20px; 
   right: 20px; 
   z-index: 99; 
   outline: none;
   background-color: #fff;
   color: #049fbb;
   cursor: pointer;
   width: 40px;
   height: 40px;
   border-radius: 20px;
   padding-top: 5px;
   font-size: 170%;
   font-weight: 600;
   text-align: center;
   transition: 0.2s;
   box-shadow: 0.1px 1px 5px #049fbb;
   border: 0px solid black;
   padding-bottom: 20px; 
   font-family: 'Lora', serif;
}

#goTopBtn:hover {
  background-color: #049fbb;
  color: #fff;
  box-shadow: 0.1px 1px 5px #049fbb;  
}



